.container {
    display: flex;
    margin-top: 227px;
    padding-left: 526px;
  }
  
  .task {
    font-size: 97px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
  }
  
  .list {
    font-size: 101px;
    margin-left: 18px;
    color: gray;
    font-family: "Roboto", sans-serif;
    margin-top: -4px;
    letter-spacing: -2px;
  }
  
  .icon {
    margin-left: 398px;
    margin-top: 25px;
  }
  
  .add {
    font-size: 47px;
    margin-left: 18px;
    color: gray;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
  }
  .container1 {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box {
    border: 2px solid orangered;
    border-radius: 10px;
    padding: 23px;
    margin: 37px;
    height: 415px;
    width: 292px;
    margin-left: 38px;
    text-align: center;
    font-size: 30px;
    box-shadow: 11px 11px 21px -1px grey;
    padding-bottom: 68px;
  }
  .box h3 {
    font-family: "Open Sans Condensed", sans-serif;
    color: orangered;
    letter-spacing: 1px;
  }
  .box p {
    font-family: "Open Sans Condensed", sans-serif;
    color: red;
    font-size: 34px;
    letter-spacing: 1px;
    margin: 0px;
  }
  .box input {
    height: 26px;
    width: 29px;
    margin-left: -57px;
  }
  .box1 a {
    font-family: "Open Sans Condensed", sans-serif;
    color: red;
    font-size: 34px;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .container a {
    text-decoration: none;
    margin-left: 2%;
    margin-top: 2%;
  }
   .box a {
    border-bottom: 2px solid black;
    padding-bottom: 31px;
    margin-left: 34%;
    margin: 0px;
  }
  .box p {
    border-bottom: 2px solid black;
    padding-bottom: 31px;
    margin-left: 34%; 
  }
.firstpage{
    filter: blur(18px);
}  
.container2{
    text-align: center;
    margin-top: -24%;
    margin-left: 33%;
    border: 3.5px solid orangered;
    height: 310px;
    width: 672px;
    border-radius: 30px;
    font-size: 35px;
    padding-top: 54px;
    background-color: white;
    z-index: 1;
    box-shadow: 12px 16px 25px grey;
    color: orangered;
    font-family: 'Noto Sans Display', sans-serif;
}


.ADD{
    height: 59px;
    width: 157px;
    margin: 18px 254px 25px 262px;
    padding: -11px;
    text-align: center;
    background: orangered;
    border-radius: 37px;
    position: absolute;
    color: white;
}
.ADD p{
    margin-top: 7px;
}
.container2 input{
    height: 57px;
    border-radius: 10px;
    color: orangered;
    border: 4px solid red;
    width: 435px;
    box-shadow: 4px 4px 6px silver;
    margin-top: 43px;
    margin-bottom: 27px;
}
@media screen and (min-width:360px) and (max-width:640px) {
  .container1{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 121%;
    margin-top: 36%;
  }
  .container{
    display: flex;
    margin-top: 227px;
    padding-left: 16px;
  }
  .container2{
    text-align: center;
    margin-top: -135%;
    margin-left: 20%;
    border: 3.5px solid orangered;
    height: 310px;
    width: 672px;
    border-radius: 30px;
    font-size: 35px;
    padding-top: 54px;
    background-color: white;
    z-index: 1;
    box-shadow: 12px 16px 25px grey;
    color: orangered;
    font-family: 'Noto Sans Display', sans-serif;

  }
  .firstpage{
    filter: blur(28px);
  }
  .ADD {
    height: 59px;
    width: 157px;
    margin: 18px 250px 28px 252px;
    padding: -11px;
    text-align: center;
    background: orangered;
    border-radius: 37px;
    position: absolute;
    color: white;
}
.icon {
  margin-left: 140px;
}
}